.box {
  color: red;
  border: 10px solid gold;
  text-align: center;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.paragraph {
  font-size: 2rem;
  margin-left: 1rem;
}
